.number {
  margin-top: 50px;
}

#blue-box {
  background-color: blue;
  width: 50px;
  height: 50px;
}

img {
  width: 100%;
}

#planets {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.planet {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-size: 13.5px;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px 10px;
}

.planet-img {
  font-size: 17px;
}
